<div class="card-columns m-5 animated fadein">
    <div *ngFor="let item of items" class="card">
      <img src="..." class="card-img-top" [src]="item.images | noimage" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ item.name }}
        </h5>
        <p class="card-text">
          <span *ngFor="let artist of item.artists" class="badge badge-success">
            {{ artist.name }}
          </span>
        </p>
      </div>
    </div>
  </div>
  