<div class="row">
  <div class="col">
    <input
      #term
      type="text"
      (keyup)="search(term.value)"
      class="form-control"
      placeholder="Search artist..."
    />
  </div>
</div>

<app-loading *ngIf="loading" class="m-5"> </app-loading>

<app-targets *ngIf="!loading" [items]="artists"></app-targets>
